* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

:root {
    --celeste: #03AAE6;
    --azul: #080F28;
    --black_pag: #141414;
    --dorado_pag: #EABE3F;
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-color: #141414;
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.caja-footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.caja-footer .logo img{
    width: 180px;
}

.caja-footer .lorem {
    max-width: 350px;
    margin-top: 30px;
    font-weight: 500;
    color: wheat;
    font-size: 18px;
}

.caja-footer h2 {
    margin-bottom: 30px;
    color: #EABE3F;
    font-weight: 700;
}

.caja-footer a {
    margin-top: 10px;
    color: wheat;
    font-weight: 600;
}

.caja-footer a:hover {
    opacity: 0.8;
}

.caja-footer a .fab {
    font-size: 20px;
}

.caja-footer i {
    width: 20px;
    box-sizing: border-box;
}

.caja-copy {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.caja-copy p {
    margin-top: 20px;
    color: #EABE3F;
}

.caja-copy hr {
    border: none;
    height: 1px;
    background-color: #EABE3F;
}