:root {
    --celeste: #03AAE6;
    --azul: #080F28;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background: #141414;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.icons_menu{
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.barra_navegacion{
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 4%;
    min-height: 68px;
    align-items: center;
    font-size: small;
}
.nav_barra_logo{
    display: flex;
}
.nav_barra_logo > img{
    height: 60px;
}
.nav_barra_buscador{
    flex: 1 0 auto;
    margin-left: 32px;
}
.nav_barra_buscador > ul > li{
    display: inline;
    margin-right: 20px;
    
}
.nav_barra_buscador > ul > li:first-child{
    margin-left: 0;
}
.nav_barra_buscador > ul{
    list-style: none;
}
.nav_barra_buscador > ul > li:not(.nav_barra_selectd) > a:hover{
    color: var(--azul);
    transition: all 200ms  ease-in;

}
.nav_barra_buscador > ul > li > a{
    text-decoration: none;
    color: inherit;
}
.nav_barra_selectd{
    font-weight: bold;
}

.nav_barra_menu{
    display: flex;
    align-items: center;
}
.nav_barra_menu > img{
    margin-right: 25px;
    cursor: pointer;
}
/* .contenedor {
    width: 90%;
    margin: auto;
}
header {
    padding: 30px 0;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 30px;
}

header nav a:hover,
header nav a.activo {
    color: #fff;
} */
/* ------------       banner principal           ---------- */
/* .banner-principal {
    font-size: 12px;
    min-height: 40.62em;
    color: #fff;
    background: url(../img/peliculas/deadpool-witch.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.banner-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.23em;
}

.banner-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.banner-principal .descripcion {
    font-size: 1.3em;
    max-width: 50%;
    margin-bottom: 1.25em;
    font-weight: normal;
    line-height: 1.75em;
}

.banner-principal .boton {
    background: rgba(0, 0, 0, 0.5) ;
    border: none;
    font-size: 1.3em;
    padding: 0.93em 1.87em;
    color: #fff;
    border-radius: 0.31em;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    margin-top: 1.25em;
}
.banner-principal .boton:hover {
    background: #fff;
    color: #000;
}

.banner-principal .boton i {
    margin-right: 1.25em;
} */