:root {
    --celeste: #03AAE6;
    --azul: #080F28;
    --black_pag: #141414;
    --dorado_pag:#EABE3F ;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
body{
    background: #141414;
    color: white;
}
section{
    padding: 3rem 0 2rem ;
}
img{
    width: 100%;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.contenedor{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: left;
    left: 0;
    width: 100%;
    background-color: #141414;
    z-index: 100;
}
/* navbar */
.bar{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.fas{
    cursor: pointer;
}
/* loguito */
.logo{
    font-weight: 600;
    color: #dda90e;
    text-transform: uppercase;
    margin: 0 auto 0 0;
    font-size: 1.7rem;
}
.logo span{
    color: white;
}
/* buscador */
.busqueda{
    max-width: 240px;
    width: 100%;
    align-items: center;
    border-radius: 5rem;
    padding: 8px 15px;
    display: flex;
    column-gap: 0.7em;
    background:#dda90e;
    color: white;
    margin-right: 1rem;
}
.busqueda .fas{
    font-size: 1.1em;
}

.busqueda .fas:hover{
    color: #141414;
}

#busqueda_input{
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-size: 0.938em;
    background: transparent;
}
/* usuario */
.usuario{
    display: flex;
}
.usuario_logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center ;
}
.navbar{
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    flex-direction: column;/* poner en columana */
    row-gap: 2.1rem;
}
.list_menu{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem; 
    align-items: center;
    color: rgb(197, 187, 187);
}
.list_menu:hover,
.active{
    color: #dda90e;
    transform: scale(1.2);
    transition: 0.3s all linear;
}
.list_menu .fa-solid{
    font-size: 1.6em;
}
.link_nav{
    font-size: 0.7em;
}
/* menu */
.home{
    position: relative;
    min-height: 470px;
    margin-top: 1rem !important;
    align-items: center;
    display: flex;
    border-radius: 01.5rem;
}
.home_img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:    -1;
    object-fit: cover;
    border-radius: 0.5rem;
    justify-content: center;
}
.home_info{
    padding-left: 40px;
}
.home_info h1{
    font-family: 'Roboto', sans-serif;
    color: #dfbe04ec;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.home_info p{
    font-size: 0.938em;
    margin: 10px 0 20px;
    color: #ffffffcc;

}
.home_titulo{
    font-size: 2rem;
    font-weight: 600;
}
.watch_home{
    align-items: center;
    column-gap: 0.8rem;
    color: #dda90e;
    display: flex;
}
.watch_home .fa-solid:hover{
    background:white;
    transition: 0.2s all linear;
}
.watch_home > span{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
    
.watch_home .fa-solid{
    font-size: 1.2em;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background: #141414;
}
/* boveda */
.boveda{
    display: flex;
    padding: 8px 14px;
    justify-content: space-between;
    align-items: center;
    background: #141414;
    border: 1px solid hsl(200 100% 99% /10%)
}