:root {
    --celeste_pag: #03AAE6;
    --azul_pag: #080F28;
    --black_pag: #141414;
    --dorado_pag:#dda90e ;
    --gris_pag: #4A4A4A;
    --gris_claro_pag: #9B9B9B;
    --azul_pag: #080F28;
    --blanco_pag: #FFFFFF;

}
/* scroll bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent ;
}
html::-webkit-scrollbar-thumb{
    background: var(--dorado_pag);
    
}

::selection{
    background-color: var(--dorado_pag);
    color: var(--dorado_pag);
}

*{
    font-family: 'Poppins', sans-serif;   
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
body{
    background: var(--azul_pag);
    color: var(--blanco_pag);
}
section{
    padding: 3rem 0 2rem ;
}
img{
    width: 100%;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.contenedor{
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--azul_pag);
    z-index: 100;
}
/* navbar */
.bar{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.fas{
    cursor: pointer;
}
/* loguito */
.logo{
    font-weight: 600;
    color: var(--dorado_pag);
    text-transform: uppercase;
    margin: 0 auto 0 0;
    font-size: 1.4rem;
}
.logo span{
    color: var(--blanco_pag);
}
/* buscador */
.busqueda{
    max-width: 240px;
    width: 100%;
    align-items: center;
    border-radius: 5rem;
    padding: 8px 15px;
    display: flex;
    column-gap: 0.7em;
    background: var(--dorado_pag);
    color: var(--blanco_pag);
    margin-right: 1rem;
}
.busqueda .fas{
    font-size: 1.1em;
}

.busqueda .fas:hover{
    color: var(--gris_claro_pag);
}

#busqueda_input{
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: var(--blanco_pag);
    font-size: 0.938em;
    background: transparent;
}
/* usuario */
.usuario{
    display: flex;
}
.usuario_logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center ;
}
/* NAVBAR */
.navbar{
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    flex-direction: column;/* poner en columana */
    row-gap: 2.1rem;
}
.list_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gris_claro_pag);
}
.list_menu:hover,
.active{
    color: var(--dorado_pag);
    transform: scale(1.1);
    transition: 0.3s all linear;
}
.list_menu .fa-solid{
    font-size: 1.6em;
}
.link_nav{
    margin-top: 0.5rem;
    font-size: 0.7em;
}
/* Home */
.home{
    position: relative;
    min-height: 470px;
    align-items: center;
    display: flex;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
}
.home_img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;    
}
.home_info{
    padding-left: 40px;
}
.home_titulo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--dorado_pag);
    
}
.home_titulo span{
    color: var(--blanco_pag);
}
.home_info p{
    font-size: 1rem;
    color: var(--blanco_pag);
    margin: 10px 0 20px;
}




/* botones */
.watch_home{
    align-items: center;
    column-gap: 0.8rem;
    color: var(--azul_pag);
    display: flex;
}
.ver_peli{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.watch_home > span{
    color: var(--blanco_pag);
    font-size: 1rem;
    font-weight: 400;
}
.watch_home .fa-solid{
    font-size: 21px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--dorado_pag);
}
.watch_home .fa-solid:hover{
    background: var(--dorado_pag);
    transition: 2s all linear;
}
.watch_home_text{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--dorado_pag);
}




/* movie play */
.contendor_peli{
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;
}
.peli_img{
    object-position: center;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.peli_texto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0; 
    padding: 80px;   
    background: linear-gradient(8deg, rgba(131, 123, 38, 0.9)14 0%, hsla(40, 33%, 26%, 0.9) 50%);

}
.peli_texto h2 {
    font-size: 1.7rem;
    font-weight: 600;
    
}
.valoracion{
    font-size: 1.2rem;
    display: flex;
    column-gap: 2px;
    align-items: center;
    column-gap: 0.5rem;
    margin: 0.5rem 0;
    color: var(--dorado_pag);
}
.etiquetas{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    column-gap: 7px;
    font-size: 1rem;
}
.etiquetas span{
    padding: 0 10px;
    font-size: 1.2rem;
    background: var(--dorado_pag);
    color: #080F28;
}
.ver_peli{
    align-items: center;
    display: flex !important;
    justify-content: center;
    position: absolute;
    bottom: 18rem;
    right: 10rem;
    width: 60px;
    height: 60px;
    border-radius: 75%;
    font-size: 30px;
    background: var(--azul_pag);
    color: var(--dorado_pag);
    animation: animate 2s linear infinite;
}
.descripcion{
    font-size: 1.1rem;
    color: var(--blanco_pag);
    margin: 1rem 0;
}

/* keyframes para los boteones de la pag principal */
@keyframes animate{
    0%{
       box-shadow: 0 0 0 0 rgba(228, 170, 77, 0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(221, 219, 71, 0);
    }
    80%{
        box-shadow: 0 0 0 50px rgb(255, 180, 58, 0);
    }
    100%{
        box-shadow: 0 0 0 rgb(255, 193, 7, 0);
     }
}
.ver_peli:hover{
    background: var(--dorado_pag);
    color: var(--azul_pag);
    transition: 0.8s all linear;
}

/* video contenedor */
.vedeo_contenedor{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--azul_pag);
    z-index: 400;
}
/*    */
.vedeo_contenedor.show_peli{
    display: flex;
}
.caja_video{
    position: relative;
    width: 85%;
}
.caja_video #cont_video{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
}
.cerrar_video{
    top: 0.7rem;
    left: 0.7rem;
    position: absolute;
    font-size: 50px;
    color: var(--dorado_pag);
    right: 0;
}


/* Info Peli */
.info_peli{
    margin-top: 2rem;
}
.info_peli h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dorado_pag);
}
.info_peli p{
    font-size: 1rem;
    margin: 10px 0;
    margin: 10px 0;
    max-width: 600px;
}



/* Descarga de la pelicula*/

.descargar{
    max-width: 800px;
    display: grid;
    justify-content: center;
    margin: auto;
    width: 1005;
    margin-top: 2rem;
}
.descargar_peli{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin: 1rem 0;
    color: var(--dorado_pag);
    justify-content: center;
}
.link_descargas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}
.link_descargas a{
    background-color: var(--dorado_pag);
    text-align: center;
    padding: 12px 24px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--azul_pag);
}
.link_descargas a:hover{
    background-color: var(--azul_pag);
    color: var(--dorado_pag);
    transition: 0.8s all linear;
}




/* boveda */

.boveda{
    display: flex;
    padding: 8px 14px;
    justify-content: space-between;
    background: var(--dorado_pag);
    border: 1px solid rgba(255, 254, 250, 0.1);
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.boveda_titulo{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--blanco_pag);
}


/* caja del carrusel de las peliculas */

.box_movie{
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
}



/* hay que agregar una animacion cuando se pase el puntero por la imagen */

.box_movie_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.1s all linear;
}
.box_movie .box_titulo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(8deg, rgba(131, 123, 38, 0.9)14 0%, hsla(40, 33%, 26%, 0.9) 44%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    overflow: hidden;
    
}
.titulo_movie{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.genero_movie{
    font-size: 1rem;
    font-weight: 500;
    color: #dda90e9f;
    margin-bottom: 0.5rem;
}

/* swiper botones */
.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-pagination::after{
    color: var(--dorado_pag);
    font-size: 50px !important;
    font-weight: 500;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after,
.swiper-pagination:hover::after{
    color: var(--blanco_pag);
} 



/* Peliculas y Series */

.peliculas .boveda{
    padding: 10px 15px;
}
.contenido_peliculas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    grid-gap: 1.5rem;
}
.contenido_peliculas .box_movie:hover .box_movie_img{
    transform: scale(1.1);
    transition: 0.5s all linear;
}


/* paginas control */


.siguiente_pag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
}
.siguiente_btn{
    background-color: var(--dorado_pag);
    padding: 12px 15px;
    border-radius: 10px;
    color: var(--blanco_pag);
    font-weight: 500;
    margin-right: 20px;

}
.siguiente_btn:hover{
    background-color: var(--gris_claro_pag);
    transition: 0.5s all linear;

}














/* Footer */

footer {
    width: 100%;
    height: 100%;
    background: var(--dorado_pag);
    background-color: var(--azul_pag);
}

.contenedor-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.caja-footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.logo_footer{
    font-weight: 600;
    color: var(--blanco_pag);
    text-transform: uppercase;
    margin: 0 auto 0 0;
    font-size: 2rem;
    margin-left: 60px;
    margin-bottom: 5px;
}
.parte_white{
    color: var(--blanco_pag);
}
.parte_dorada{
    color: var(--dorado_pag);
}

.caja-footer .lorem {
    max-width: 350px;
    margin-top: 30px;
    font-weight: 500;
    color: var(--gris_claro_pag);
    font-size: 18px;
}

.caja-footer h2 {
    margin-bottom: 30px;
    color: var(--gris_claro_pag);
    font-weight: 700;
}

.caja-footer a {
    margin-top: 10px;
    color: var(--gris_claro_pag);
    font-weight: 600;
}

.caja-footer a:hover {
    opacity: 0.8;
}

.caja-footer a .fab {
    font-size: 20px;
}

.caja-footer i {
    width: 20px;
    box-sizing: border-box;
}

.caja-copy {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 10px;
}


.caja-copy p {
    margin-top: 20px;
    color: var(--gris_claro_pag);
}

.caja-copy hr {
    border: none;
    height: 1px;
    background-color: var(--gris_claro_pag);
}





/* Responsive  las paginas con responsive son la de peliculas y series , la principal no alcanzo el tiempo*/

@media (max-width: 1170px) {
    .navbar{
        left: 0;
        bottom: 0;
        right: 0;
        top: auto;
        border-top: 1px solid var(--azul_pag);
        transform: translateY(0);
        justify-content: space-evenly;
        flex-direction: row;
        row-gap: 1px;
        padding: 10px;
        background: var(--azul_pag);
    };
    .list_menu .fa-solid{
        font-size: 1.5rem;
    }
}
@media (max-width: 1060px){
    .contenedor{
        margin: 0 auto;
        width: 95%;
    }
}
@media (max-width: 991px){
    .box_movie{
        height: 340px;
    }
    .contenido_peliculas{
        grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
    }
}
@media (max-width: 888px){
    .bar{
        padding: 14px 0;
    }
    .home{
        min-height: 440px;
        margin-top: 4rem !important;
    }
    .home_info {
        padding-left: 25px;
    }
    .home_titulo {
        font-size: 1.6rem;
    }
    .watch_home > span {
        font-size: 0.9rem; 
    }
    .titulo_movie {
        font-size: 1rem;
        padding-right: 30px;
    }
    .contendor_peli {
        min-height: 440px;
        margin-top: 4rem !important;
    }
    .ver_peli {
        bottom: 14rem;
        right: 4rem;
        width: 50px;
        height: 50px;
        font-size: 25px;

      }
}
@media (max-width: 767px){
    .bar{
        padding: 11px 0;
    }
    .logo {
        
        font-size: 1.2rem;
      }
    .section{
        padding: 2rem 0;
    }
    .home_img {
        object-position: left;
      }
    .genero_movie{
        font-size: 0.875rem;
        margin-top: 2px;
    }
    .etiquetas span,
    .descripcion p {
        font-size: 0.875rem;
    }
    p{
        font-size: 0.875rem;
    }
    .peli_texto h2 {
        font-size: 1.3rem;
      }

    .ver_peli {
        bottom: 10rem;
        right: 2rem;
        width: 45px;
        height: 45px;
        font-size: 20px;
      }
}
@media (max-width: 514px){
    .home {
        min-height: 380px;
    }
    .boveda {
        padding: 2px 14px;
      }
    .boveda_titulo {
        font-size: 1rem;
      }
    .peli_texto {
        padding: 20px;
      }
    .ver_peli {
        bottom: 4rem;
      }
    .caja_video {
        width: 94%;
      }
    .valoracion {
        font-size: 1rem;
      }
    .watch_home .fa-solid {
        font-size: 20px;
        width: 40px;
        height: 40px;
      }
}
@media (max-width: 408){
    *{
        scroll-padding-top: 5rem;
    }
    .bar{
        display: grid;
        row-gap: 5px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .busqueda {
        max-width: 200px;
    }
    .home,
    .contendor_peli {
        margin-top: 7rem !important;
    }
    .box_movie {
        height: 300px;
    }
    .contenido_peliculas {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
    }
}
@media (max-width: 370){
    .home {
        min-height: 300px;
    }
    .box_movie {
        height: 285px;
      }
    .navbar {
        padding: 10px;
        justify-content: space-around;
      }
    .busqueda {
        width: 50%;
    }
    .list_menu .fa-solid {
        font-size: 1.4em;
    }
    .contenido_peliculas {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 1rem;
      }
}
@media (max-width: 300){
    
}